<%# include header is going to go here %>

<form method='POST' action='/tasks'>
  <input name='task_title' type='text' placeholder='task title' />
  <input name='status' type='text' placeholder='status' />
  <input name='category' type='text' placeholder='category'>
  <input type='submit' value='Submit!' />
</form>

<%# include foorter is going to go here %>
