<%# include header is going to go here %>

  <div class='task'>
    <h3>Task: <%= data.task_title %></h3>
    <h3> Status: <%= data.status %></h3>
    <h3>Category: <%= data.category %></h3>
    <a href='/tasks/'>See all tasks</a>
  </div>

<%# include foorter is going to go here %>
